:root {
  --border-rad-lg: 15px;
  --light-text: #fefefe;
  --light-background-color: white;
  --dark-background-color: #092c4b;
  --speech-ai-background-color: #979376;
  --speech-human-background-color: #a98c73;
  --input-background-color: #1f6095;
  --input-button-border-color: #586e88;
  --input-button-background-color: #040910;
  --sub-heading-color: #999999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

main {
  background-color: var(--light-background-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* expert elements */
.expert-container {
  background-color: var(--dark-background-color);
  width: 360px;
  min-height: 380px;
  border-radius: var(--border-rad-lg);
  padding: 1em;
}

.expert-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6em;
}

.logo {
  width: 100%;
  border-radius: 0.6em;
}

.expert-conversation-container {
  height: 250px;
  overflow-y: scroll;
  margin: 1em 0;
}

/* stop ugly scroll bar on some browsers */
.expert-conversation-container::-webkit-scrollbar {
  display: none;
}

.expert-conversation-container::-moz-scrollbar {
  display: none;
}

.speech {
  padding: 1em;
  color: var(--light-text);
  min-width: 90%;
  border-radius: var(--border-rad-lg);
  font-size: 1.07em;
}

.speech:first-child {
  margin-top: 0;
}

.speech-ai {
  background: var(--speech-ai-background-color);
  border-top-left-radius: 0;
  margin: 1.2em 1em 0 0;
}

.speech-human {
  margin: 1.2em 0 0 1em;
  background: var(--speech-human-background-color);
  border-top-right-radius: 0;
}

.expert-input-container {
  display: flex;

  input {
    background-color: var(--input-background-color) !important;
  }
}

input[type="text"],
button {
  background-color: var(--input-background-color);
  border: white 1px solid;
  border-radius: var(--border-rad-lg);
  padding: 1em;
}

input:focus {
  outline: none;
}

input[type="text"] {
  color: var(--light-text);
  width: 100%;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: inherit;
}

button {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--input-button-background-color);
}

.send-btn-icon {
  width: 20px;
  display: block;
}

/* text */
.sub-heading {
  color: var(--sub-heading-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}